*{
  margin: 0px;
  padding: 0px;
}
nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav img{
  width: 150px;
}
body{
  background-color: #b88dfb;
  width: 90%;
  margin: auto;
}
.pokedex-body{
  width: 90%;
  margin: auto;
  padding: 10px;
}
.navbar-geral{
  display: flex;
  flex-direction: row;
  background-color: #c3c3c3;
  justify-content: space-between;
  padding: 30px;
}
.searchbar-container{
  display: flex;
  margin: 10px;
  padding: 0 20px;
  align-items: center;
}
.searchbar{
  background-color: white;
  margin-right: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.searchbar input{
  padding: 10px;
  box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
  border: none;
}
.searchbar-btn button{ 
  background-color: #b88dfb;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 12px;
}
.favorite-pokemon{
  margin: 2rem;
  display: flex;
  margin: 10px auto;
}
.fav-heart{
  display: flex;
  margin: 5px;
  align-items: center;
}
.pokemon-fav-btn{
  width: 40px;
  height: 40px;
  border: none;
  color: red;
  font-size: 1.7rem;
  padding: 0.4rem;
  margin: 0.7rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}
.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.pokedex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pokemon-card {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 30%;
  margin: 5px;
  padding: 2px;
}
.pokemon-img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.pokemon-img-container {
  padding: 0px 5px;
}
.card-body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 10px;
  flex: 1;
}
.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-top h3 {
  text-transform: capitalize;
}
.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pokemon-type {
  display: flex;
  flex-direction: row;
}
.pokemon-type-text {
  width: 60px;
  text-align: center;
  padding: 3px;
  margin: 10px;
  text-transform: capitalize;
  border: 1px solid;
  border-radius: 5px;
}
.pagination-container{
  display: flex;
  flex-direction: row;
  align-item: center;
  margin: ;
}
.not-found-text{
  text-align: center;
  font-size: 1.25rem;
  padding: 10px;
}
.App {
  text-align: center;
}
